 <IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/(\w+)/?$ api/index.php?method=$1
RewriteRule api/(\w+)/(.*)$ api/index.php?method=$1&id=$2 [L,QSA]
</IfModule>
