language: php
php:
  - 5.6
sudo: required
dist: trusty
before_install: echo 'before install'
before_script:
  - echo 'before script'
  - pwd
  - ls -a
  - git status
script: phpunit Test.php
after_success:
  - echo 'after success'
  - git remote add production https://{GH_REF}
  - git remote -v
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master > /dev/null 2>&1
after_script: echo 'after script'
